* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  flex-grow: 0;
}

#board {
  display: grid;
  grid-template-columns: repeat(20, 40px);
  grid-template-rows: repeat(20, 40px);
  gap: 1px;
  background-color: lightgray;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: white;
}

.coffee,
.cauda {
  background: white url(images/coffee.png) no-repeat center center;
}
.snake {
  background: white url(images/cabeca.png) no-repeat center center;
}

#score,
#messages {
  color: #0f0;
  font-size: 7em;
  margin-left: 50px;
  font-family: "Doto", sans-serif;
}

.panel {
  min-height: 300px;
  flex-basis: calc(100vw - 800px);
  display: flex;
  justify-content: center;
  align-items: center;
}
